body {
    font-family: "Roboto", sans-serif;
    background-color: #f8fafc;
    background-image: url('https://flowbite.s3.amazonaws.com/docs/jumbotron/hero-pattern.svg');
    color: #636b6f;
}

.container {
    max-width: 90%;
    margin: 10px auto;
    padding: 20px;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.section {
    display: none;
}

.section.active {
    display: block;
}

.loader {
    width: 50px;
    aspect-ratio: 1;
    border-radius: 50%;
    background: 
      radial-gradient(farthest-side,#3ac7f3 94%,#0000) top/8px 8px no-repeat,
      conic-gradient(#0000 30%,#3ac7f3);
    -webkit-mask: radial-gradient(farthest-side,#0000 calc(100% - 8px),#000 0);
    animation: l13 1s infinite linear;
  }

  @keyframes l13{ 
    100%{transform: rotate(1turn)}
  }

#results {
    margin-top: 20px;
    white-space: pre-wrap;
    background: #f1f1f1;
    padding: 10px;
    border-radius: 8px;
}

.result-card {
    display: inline-block;
    width: 200px;
    margin: 10px;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.result-title {
    font-size: 18px;
    margin-bottom: 10px;
    color: #636b6f;
}

.result-score {
    font-size: 36px;
    font-weight: bold;
    color: #3ac7f3;
}