body {
    font-family: "Roboto", sans-serif;
    background-color: #f8fafc;
    background-image: url('https://flowbite.s3.amazonaws.com/docs/jumbotron/hero-pattern.svg');
    color: #636b6f;
}

.container {
    max-width: 90%;
    margin: 10px auto;
    padding: 20px;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.description {
    margin-bottom: 20px;
}

.table-container {
    margin-top: 20px;
}

.table-container table {
    width: 100%;
    border-collapse: collapse;
}

.table-container th, .table-container td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

.table-container th {
    background-color: #f2f2f2;
    color: #636b6f;
    font-weight: bold;
}